html {
    color: #fff;
    background: #000;
}
li {
    display: grid;
    grid-template-columns: 25em auto;
    padding: 0;
    margin: 0;
    text-align: left;
    justify-items: left;
    align-items: center;
    border-bottom: 1px solid #111;
}
li:last-child {
    border-bottom-width: 0px;
}
span,
button{
    background: darkgreen;
    padding: 0.2em;
    border-radius: 0.25em;
    border: 1px solid green;
    margin: 0.2em;
    min-width: 3em;
    color: #fff;
}
#logo {
     width: 5em;
     position: fixed;
     right: 0;
     bottom: 0;
 }
