html {
    color: #fff;
    background: #000;
    font-family: sans-serif;
}
h1 {
    font-family: serif;
}
li {
    display: grid;
    grid-template-columns: 25em auto;
    padding: 0;
    margin: 0;
    text-align: left;
    justify-items: left;
    align-items: center;
    border-bottom: 1px solid #030;
}
li:last-child {
    border-bottom-width: 0;
}
a,
a:visited,
a:hover,
a:active,
li > span,
li > button{
    background: darkgreen;
    padding: 0.2em;
    border-radius: 0.25em;
    border: 1px solid green;
    margin: 0.2em;
    min-width: 3em;
    color: #fff;
}
span > strong {
    color: #fff;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 1em;
}
span > strong.hidden {
    display: none;
}
span > em {
    display: none;
    position: absolute;
    max-width: 10em;
    max-height: 10em;
    background: darkgreen;
    color: white;
    border: 1px solid white;
    padding: 1em;
}
span:hover > em {
    display: block;
}
#logo,
#logo img {
    background: transparent;
    width: 5em;
    position: fixed;
    right: 0;
    bottom: 0;
}
