{% include 'header.twig' %}
<h1>Welcome</h1>
<p>This is an instance of the idrinth/mini-mindmap service, allowing you to create mindmaps and share them with others.</p>
<p>If you want to self-host, the code is available in the <a href="https://github.com/idrinth/mini-mindmap">repository</a>, otherwise feel free to use it as a SaaS.</p>
<p><a href="/mindmap">New Mindmap</a></p>
