{% include 'header.twig' %}
<h1>{{ mindmap.title }}</h1>
<ul></ul>
<script>
    {% raw %}
    document.getElementsByTagName('ul')[0].appendChild(window.imm.createContentLi({{ root|json_encode }}));
    window.imm.load('{{ root.uuid }}');
    window.setTimeout(window.imm.update, 1000);
    {% endraw %}
</script>
{% include 'footer.twig' %}
